<h2>編集する</h2>
<%= form_with(model: @task, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div>
  <%= form.label :deadline %>
  <%= form.text_field :deadline %>
</div>
  <br>
  <%= form.submit %>
<% end %>