<h2>タスク新規登録画面</h2><hr>
<% if @task.errors.any? %>
    <div style="color:red;">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<div class="w-50">
  <%= form_with(model: @task, local: true) do |form| %>
    <div class="mb-3">
      <%= form.label :name %>
      <%= form.text_field :name,  placeholder: "タスク名を入力..", class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :content %>
      <%= form.text_area :content, placeholder: "タスクの詳細を入力してください..", class: "form-control" %>
    </div>
    <div class="w-50 mb-3">
      <%= form.label :deadline %>
      <%= form.date_field :deadline, class: "form-control" %>
    </div>
    <div class="w-50 mb-3">
      <%= form.label :status %>
      <%= form.select :status, Task.statuses.keys.to_a, { include_blank: '選択してください'} ,class: "form-control" %>
    </div>
    <div class="w-50 mb-3">
      <%= form.label :priority %>
      <%= form.select :priority, Task.priorities.keys.to_a, { include_blank: '選択してください'} ,class: "form-control" %>
    </div>
    <div class="field">
    <%= form.label :label %><br>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
    </div>

    <br>
      <%= form.submit '登録する', class: "btn btn-primary" %>
  <% end %>
</div><hr>