<h1>タスク詳細</h1>
<p><%= t('activerecord.attributes.task.name') %>: <%= @task.name %></p>
<p><%= t('activerecord.attributes.task.content') %>: <%= @task.content %></p><br>
<%= link_to "投稿一覧に戻る", tasks_path %>